[project]
	description = git
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/girishvk2014
[access "refs/for/refs/*"]
	read = group user/girishvk2014
	push = group user/girishvk2014
	label-Code-Review = -2..+2 group user/girishvk2014
	label-Verified = -1..+1 group user/girishvk2014
	rebase = group user/girishvk2014
	removeReviewer = group user/girishvk2014
	submit = group user/girishvk2014
[access "refs/heads/*"]
	read = group user/girishvk2014
	create = group user/girishvk2014
	push = +force group user/girishvk2014
	pushMerge = group user/girishvk2014
[access "refs/tags/*"]
	push = +force group user/girishvk2014
	pushTag = group user/girishvk2014
	pushSignedTag = group user/girishvk2014
